<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerized.|

# Objectives
- list popular languages for Data Science
- list commnly used libraries used for Data Science
- list popular Data Science tools

Some popular languages that Data Scientists use are
1. Python
2. Java
3. R.
4. SQL

Some commonly use libraries used by Data Scientists include:
1. SciPy
2. TensorFlow
3. Pandas
4. PyTorch

### Data Science Tools

Apache Spark
SAS
MySQL

### Below are some examples of evaluation arithmetic expressions in Python

In [4]:
# Arithmetic operations
code = compile("3 + 4", "<string>", "eval")
eval(code)
# Result: 7

7

In [7]:
code1 = compile("(6 + 2) * 4", "<string>", "eval")
eval(code1)
# Result: 32

32

In [8]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

In [11]:
# this is a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [24]:
# This will convert 200 minutes to hours by diving by 60
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) + "mins. ")

# Result 3.333333333333335 hours

0 days, 3.3333333333333335 hours, 0mins.

## Author:
Brett Meyer